body {
    background-color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

h1 {
    color: brown;
    font-size: medium;
    text-align: center;
}

h2 {
    color: blueviolet;
    font-size: 28px;
    margin: 30px;

}

h3 {
    color: chartreuse;
    font-size: 30px;
    margin: 30px;
}

h4 {
    color: teal;
    font-size: 24px;
    margin: 30px;
}

h5 {
    color: purple;
    font-size: 22px;
    margin: 30px;
}

h6 {
    color: darkorange;
    font-size: 20px;
    margin: 30px;
}

p{
    color: black;
    font-size: 16px;
    margin: 10px 0;
}

a {
    color: green;
    font-size: 16px;
    text-decoration: solid;
}

a:hover {
    text-decoration: underline;
}

dv {
    color: red;
    font-size: 20px;
    margin: 40;
    padding: 15px;
    border-left: 5pxb solid red;
}